body{
	margin-top:0;
	padding:0;
	height: 100%;
	font-family: 'poppins', sans-sarif;
	
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'poppins' , sans-sarif;
}
.Ah1{
	font-size:350%;
}
hr{
	margin-top:1%;
}
.navbar {
	margin-bottom: 0;
	position: absolute;
	right:20px;
	color:black;
	margin-top:-2%;
}


nav ul li{
	list-style:none;
	display:inline-block;
	margin-left:40px;
	margin-top:-30px;

}

nav ul li a{
	text-decoration:none;
	color:black;
	font-size:30px;
	transition:0.4s ease;
}
nav ul li a:hover{
	color:pink;
	padding:10px 20px;
	border: 2px solid pink
}

tr{
	text-align:center;
}
tr img{
	height: 20%;
	width:50%;
}

.cell {
	max-width: 80%;
	width: 1000px;
	margin: 15px auto;
	padding: 10px;
}
		
.col-1 {
	max-width: 30%;
	width: 400px;
	height: 365px;
	overflow: hidden;
	padding-bottom: 10px;
}

.something {
	width: 100%;
	height: 100%;

}

.something:hover {
	transform: translateY(-10px);
	transition: all ease 0.3s;
	box-shadow: 0 0 50px #FFFFFF;
}

footer {
	background-color:black;
	width: 100%;
	min-height: 200px;
	font-family: 'poppins', sans-sarif;
	color: #FFFFFF;
	font-size: 16px;
}

.footer {
	width: 100%;
	padding: 30px 30px;
	line-height: 2em;
}

.col-3 {
	color: #FFFFFF;	
	width: 800px;
	vertical-align: top;
	font-family: 'poppins', sans-sarif;
	text-align: left;
}

.col-3 a {
	text-decoration: none;
	color: #FFFFFF;
}

.col-3 a:hover {
	color: #F1BABA;
}

.arrow {
	font-size:60px;
	color:black;
	text-align:right;
}