body, html{
	margin: 0;
	padding:0;
	height: 100%;
	font-family: 'poppins', sans-sarif;
}

*{
	 margin:0;
	 padding:0;
	 box-sizing:border-box;
	 font-family:'poppins' , sans-sarif;
}

.navbar {
	margin-bottom: 0;
	margin-top:3.9%;
	position: absolute;
	right:20px;
	color:#fff;
	

}


.hero-image {
	background-image: url("IndexImages/mm.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 900px;
	width:100%;	
	display: flex;
	align-items: center;
	justify-content: center;
	
	
}
.hero-text {
	text-align: center;
	font-size: 30px;
	color:white;
}
.button a{
	text-decoration:none;
	display:inline-block;
	border: 2px solid #fff;
	padding: 14px 70px;
	border-radius: 50px;
	color:#fff;
	
}

.Ah1{
	margin-left:100px;
	margin-top:-4%;
	font-size:30px;
}


nav ul li{
	list-style:none;
	display:inline-block;
	margin-left:40px;
	margin-top:-30px
}

nav ul li a{
	text-decoration:none;
	color:#fff;
	font-size:30px;
	transition:0.4s ease;
}
nav ul li a:hover{
	color:white;
	padding:10px 20px;
	border: 2px solid white
}
.gallery {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 390px;
  height:400px;
  transition:0.3s ease;
}
.gallery:hover {
  border: 1px solid #777;
  color:#fff;
}
.gallery img {
  width: 100%;
  height: auto;
}

.section-1 {
	width:100%;
	min-height: 750px;
}

.categories-heading {
	font-family: 'Satisfy', cursive;
	font-size: 25px;
	padding-top: 50px;
	padding-bottom: 15px;
	text-align: center;
}

.categories {
	max-width: 1200px;
	margin: 15px auto;
}
		
.col-1 {
	width: 500px;
	padding-right: 20px;
	padding-left: 20px;
}

.something {
	height: 489px;
	width: 427px;
	margin: auto;
	cursor: pointer;
}

.something:hover {
	transform: translateY(-10px);
	transition: all ease 0.3s;
	box-shadow: 0 0 50px #FFFFFF;
}

.col-2 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	padding-top: 20px;
}

footer {
	background-color:black;
	width: 100%;
	min-height: 200px;
	font-family: 'poppins', sans-sarif;
	color: #FFFFFF;
	font-size: 16px;
}

.footer {
	width: 100%;
	padding: 30px 30px;
	line-height: 2em;
}

.col-3 {
	color: #FFFFFF;	
	width: 800px;
	padding: 20px 20px;
	vertical-align: top;
	font-family: 'poppins', sans-sarif;
}

.col-3 a {
	text-decoration: none;
	color: #FFFFFF;
}

.col-3 a:hover {
	color: #F1BABA;
}

.arrow {
	height:100px;
	width:100px;
	vertical-align: top;
	
}
		
	