body{
	margin-top:0;
	padding:0;
	height: 100%;
	font-family: 'poppins', sans-sarif;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'poppins' , sans-sarif;
}

.Adiv{
	background-image: url('OrderImages/Patterns.jfif');
}
img{
	
}
.Ah1{
	font-size:350%;
}
hr{
	margin-top:1%;
}
.navbar {
	margin-bottom: 0;
	position: absolute;
	right:20px;
	color:black;
	margin-top:-2%;
}


nav ul li{
	list-style:none;
	display:inline-block;
	margin-left:40px;
	margin-top:-30px;

}

nav ul li a{
	text-decoration:none;
	color:black;
	font-size:30px;
	transition:0.4s ease;
}
nav ul li a:hover{
	color:pink;
	padding:10px 20px;
	border: 2px solid pink
}


form{
	display:inline-block;
	max-width:850px;	
}	


h2{
	font-size:44px;
}
.Afieldset{
	padding-left: 20px;
	border-style:solid ;
	border-color:black;
	text-align:left;
	background-color:#f6dde5;
	border: 2px solid;
	border-radius: 6px;
	padding: 10px
}

#grad1{
	background-color:white;
	height:1700px;
	Width:1617px;
}
.Bfieldset{
	padding-left:5px;
	padding-right:5px;
	border-style:solid;
	border-color:black;
	text-align:left;
	background-color:#f6dde5;
	border: 2px solid;
	border-radius: 6px;
	padding: 10px
}

.Cfieldset{
	margin: 20px;
	padding-left: 20px;
	border-style:solid ;
	border-color:black;
	text-align:left;
	background-color:#f6e6ec;
	border: 2px solid;
	border-radius: 6px;
	padding: 10px
}

.Cfieldset ol {
	margin-left: 20px;
}
form{
	width:max(500px, 50%);
}
::placeholder{
	color:#d0d2d2;
	background-color:#f7eff2;
}
.Dfieldset{
	margin: 20px;
	padding-left: 20px;
	border-style:solid ;
	border-color:#0f344b;
	text-align:left;
}

.button a{
	font-family:Courier;
	font-size:45px;
	text-decoration:none;
	display:inline-block;
	border: 2px solid black;
	padding: 14px 70px;
	border-radius: 50px;
	color:black;
	font-size:34px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
textarea{
	background-color:#f7eff2;
}


footer {
	background-color:black;
	width: 100%;
	min-height: 200px;
	font-family: 'poppins', sans-sarif;
	color: #FFFFFF;
	font-size: 16px;
}

.footer {
	width: 100%;
	padding: 30px 30px;
	line-height: 2em;
}
	
.col-3 {
	color: #FFFFFF;	
	width: 800px;
	padding: 20px 20px;
	vertical-align: top;
	font-family: 'poppins', sans-sarif;
}
		
.col-3 a {
	text-decoration: none;
	color: #FFFFFF;
}
		
.col-3 a:hover {
	color: #F1BABA;
}

.arrow {
	font-size:60px;
	color:black;
	text-align:right;
}