body{
	margin-top:0;
	padding:0;
	height: 100%;
	font-family: 'poppins', sans-sarif;
	
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'poppins' , sans-sarif;
}

hr{
	margin-top:1%;
}
.navbar {
	margin-bottom: 0;
	position: absolute;
	right:20px;
	color:black;
	margin-top:-2%;
}

nav ul li{
	list-style:none;
	display:inline-block;
	margin-left:40px;
	margin-top:-30px;

}

nav ul li a{
	text-decoration:none;
	color:black;
	font-size:30px;
	transition:0.4s ease;
}
nav ul li a:hover{
	color:pink;
	padding:10px 20px;
	border: 2px solid pink
}

.Ah1{
	margin: auto;
	  width: 60%;
	  text-align:center;
	  padding: 10px;
	  margin-top:12%;
	  font-size:80px;
}
.pa{
	font-size: 15px;
	
}

h2{
	font-size:20px;

}
.h1{
	margin-left: 9%;
	margin-top: 2%;
	font-size:50px;

}
img{
	padding-top: 30px;
}

img{
	margin-left: 10%;
	margin-top: 5%;
}

.column {
	width: 35%;
	padding: 10px;
	height: 300px; /* Should be removed. Only for demonstration */
	margin-left:10%;
  }
  .column1{
	width: 40%;
	padding: 10px;
	height: 300px; 
	float:left;
	margin-top:-20%;
	margin-left:45% ;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

  footer {
	
	width: 100%;
	min-height: 200px;
	font-family: 'poppins', sans-sarif;
	color: #FFFFFF;
	font-size: 16px;
	margin-top:20%;
}

.footer {
	width: 100%;
	padding: 30px 30px;
	line-height: 2em;
	background-color: rgb(0, 0, 0);
	
}

.arrow{
	height:100px;
	width:100px;
	vertical-align: top;
	
}
